@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Ангарский Политехнический Техникум</h1>
    <p class="lead">Клиентская Браун</p>
    <h2>Переработка нефти и газа</h2>
    <img src="https://cdnimg.rg.ru/img/content/158/54/13/16p_473743_1000_d_850.jpg">
    <p>
        Техник-технолог – специалист, который занимается управлением технологическими процессами переработки нефти, попутного, природного газов, газового конденсата, сланцев, угля и обслуживанием магистральных трубопроводов.
        Может работать на предприятиях химического и нефтехимического производства; на предприятиях машиностроительной, а также радиотехнической промышленности; в научно-исследовательских институтах и различных лабораториях. Техник-технолог достаточно самостоятелен в своей деятельности. Он может принимать собственные решения в рамках поставленных задач. Работа связана с вредным производством.
        Специалисты этой профессии могут специализироваться в конкретных сферах практической и исследовательской деятельности, на различных производствах и т.п. Техник-технолог может начать руководить производством, цехом и т.п.
        Может осуществлять исследовательскую деятельность: написание кандидатских и докторских диссертаций, освещение новых научных проблем в мире химии, посвящение своей жизни научным достижениям.
    </p>
    <h2>Техническая эксплуатация и обслуживание электрического и электромеханич. оборудования</h2>
    <img src="https://static.tildacdn.com/tild6234-3464-4561-b935-353130383032/9qfjrmVe.jpg">
    <p>
        На специальности "Техническая эксплуатация и обслуживание электрического и электромеханического оборудования" готовят техников-электриков. Выпускники этой специальности никогда не останутся без работы.
        На обучение по специальности "Техническая эксплуатация и обслуживание электрического и электромеханического оборудования" принимаются выпускники 9-11-х классов.
        Специалисты по охранно-пожарной сигнализации осваивают, соответственно, охранную, тревожную и пожарную сигнализацию, системы ограничения и контроля доступа в помещения и др. Среднее профессиональное образование отличается от высшего практической направленностью обучения. В образовательной программе специальности "Техническая эксплуатация и обслуживание электрического и электромеханического оборудования" предусмотрено прохождение нескольких видов практики (учебная, производственная). Студенты знакомятся с видами и способами монтажа электрооборудования и электропроводки, получают разряд электромонтера, работают помощниками мастеров, механиками.
        Выпускники специальности "Техническая эксплуатация и обслуживание электрического и электромеханического оборудования" могут продолжить образование в технических вузах.
    </p>
    <h2>Информационные системы</h2>
    <img src="https://www.syl.ru/misc/i/ai/467547/3196952.jpg">
    <p>
        Современный мир не может существовать без информационных систем. Они есть везде: в банках и государственных учреждениях, в аэропортах и на заводах. Безусловно, эти системы должны правильно функционировать, их нужно грамотно инсталлировать, осуществлять отладку при сбоях и, конечно, необходимо уметь объяснить пользователям, как правильно пользоваться всем этим программным обеспечением. С такими задачами под силу справиться только настоящему профессионалу, который получил отличную базовую подготовку и закрепил свои знания на практике. Такому профессионализму мы и обучаем.
        Техник по информационным системам — это специалист по разработке типовых технологических процессов автоматизированной обработки информации, разработке компонентов автоматизированных информационных систем, внедрению и сопровождению автоматизированных информационных систем.
        Различные информационные системы встречаются в нашей повседневной жизни, будь вы на работе или дома, идете по дороге, или передвигаетесь на автомобиле.Информационные системы – это наши помощники. И любая компания или организация сегодня не может полноценно существовать без наличия информационно-аналитической системы.
        Техник по информационным системам должен владеть широким спектром современных информационных технологий, навыками проектирования, программирования и сопровождения систем, пониманием предметной области автоматизируемой задачи организационного управления деятельностью (учета, анализа, планирования, контроля, реализации и т. д.), а также методами и технологиями проектного управления ведением работ.
        Областью профессиональной деятельности специалиста по информационным системам является разработка и сопровождение информационных проектов различного назначения.
        Объектами профессиональной деятельности специалиста по информационным технологиям являются: информационный проект, портфель проектов, программные и сетевые средства и платформы инфраструктуры информационных технологий предприятий.
        Практически ежемесячно выходят новые версии программ, обновляются характеристики оборудования, и специалисты в области информационных технологий должны быть всегда в курсе этих изменений. Поэтому способность к самообучению – один из главных навыков, которым должен обладать программист.
        Владение английским языком на уровне чтения технической документации является еще одним обязательным требованием, предъявляемым к представителям этой профессии. Для таких специалистов очень важно умение работать: в команде, над большими проектами, со средствами коллективной разработки, с крупными финансовыми системами (бюджетными, банковскими, управленческого учета).
    </p>
    <h2>Экономика и бухгалтерский учет</h2>
    <img src="https://bestcollege.ru/wp-content/uploads/2018/10/economika-1-730x485.jpg">
    <p>
        Первоочередной задачей бухгалтера является наведение порядка в учете всех ценностей. Он должен быть так организован, чтобы в любой момент можно было получить сведения о том, сколько и какого имущества у предприятия, организации, где оно хранится, в каком состоянии, где используется, кто отвечает за его сохранность.
        Бухгалтер должен хорошо ориентироваться как в юридических, так и в производственных вопросах, он должен ясно представлять отраженные в записях и цифрах технологические и хозяйственные операции.
        Это специалист, занимающийся анализом финансово-хозяйственной деятельности предприятия в целях ее улучшения, т.е. он ведет сбор и обработку экономической информации, анализирует результаты экономической деятельности, составляет текущий и перспективный планы, прогнозирует и ведет контроль за выполнением плана.
        Экономист-бухгалтер планирует, ведет как бухгалтерский учет, так и анализ финансово-хозяйственной деятельности предприятия. Осуществляет учет денежных средств и товарно-материальных ценностей.
    </p>
</div>
