@{
    ViewData["Title"] = "Информация";
}
<h1>@ViewData["Title"]</h1>

<h3>Основные сведения</h3>
<p>Полное наименование: Государственное бюджетное профессиональное образовательное учреждение Иркутской области «Ангарский политехнический техникум»</p>
<p>Сокращенное наименование: ГБПОУ ИО «АПТ»</p>
<p>Государственное бюджетное профессиональное образовательное учреждение Иркутской области «Ангарский политехнический техникум» организовано 1 августа 1947 года</p>
<img src="https://avatars.mds.yandex.net/get-altay/3691419/2a0000017925192bb2483e5cc4ba13702550/XXXL">
<h3>История</h3>
<p>История создания Ангарского политехнического техникума связана с развитием нефтехимии в Иркутской области и строительством в Ангарске нефтехимического комбината.</p>
<p>Техникум организован 1 августа 1947 года в Иркутске на базе авиационного техникума и назывался Иркутским техникумом исскуственного жидкого топлива и газа (ИЖТ).</p>
<p>В 1950 году техникум переводится в Ангарск и арендует помещение школы №2 по улице Иркутской, а в 1951 году техникум получает постоянный учебно — лабораторный комплекс.</p>
<p>10 августа 1957 года техникум переименовывается в Ангарский строительный техникум, в него влились Иркутский строительный техникум и Иркутский энергостроительный техникум.</p>
<p>Свой первый выпуск Ангарский политехнический техникум осуществил в 1950 году, еще находясь в Иркутске. Путевку в жизнь получили 31 техников-механиков по специальности «Оборудование заводов ИЖТ».</p>
<p>С 1960 по 1970 годы идет большая кропотливая творческая работа педагогического коллектива по развитию и совершенствованию учебно-материальной базы в свете требований научно-технического прогресса.</p>

