@{
    ViewData["Title"] = "Руководство";
}
<h1>@ViewData["Title"]</h1>

<p>Сальников Артём Даниилович-Директор</p>
<p>Сотникова Ксения Михайловна-Заместитель директора по УР</p>
<p>Попова Ясмина Савельевна-Заместитель директора по ВР</p>
<p>Савельева Арина Максимовна-Заместитель директора по АХР</p>
<p>Зорин Максим Арсенович-Заместитель директора по УПР</p>
<p>Новикова Арина Данииловна-Методист</p>
<img src="https://avatars.mds.yandex.net/get-altay/3691419/2a0000017925192bb2483e5cc4ba13702550/XXXL">
